{% extends 'base.html' %}
{% load static thumbnail %}
{% block meta %}
    <title>{{ object.title }}</title>
{% endblock %}
{% block header %}
    <header class="main-header about-header">
        <div class="container">
            {% include 'include/main-menu.html' %}
            <div class="headerTitle">
                <h1>Избранное</h1>
            </div>
            <p class="headerText">

            </p>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="direction">
                <div class="row">
                    <div class="col-md-9">
                        <div class="my-object-card-cont curort-card-cont">
                            {% for hotel in favorite_list %}
                                <div class="my-object-card flex mt-30">
                                    <div class="card-image">
                                        <div class="owl-admin" class="owl-carousel">
                                            {% for image in hotel.hotelphoto_set.all|slice:'5' %}
                                                <a href="{% url 'region:hotel_detail' slug=hotel.city.slug pk=hotel.id %}"
                                                   title="{{ item }}">
                                                    <div class="item">
                                                        <div class="item-img">
                                                            {% thumbnail image.image "262x180" crop='center' as im %}
                                                                <img class="lazyOwl"
                                                                     data-src="{{ im.url }}" width="{{ im.width }}"
                                                                     height="{{ im.height }}"
                                                                     alt="{{ hotel }}">
                                                            {% endthumbnail %}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="card-body curort-card flex  juatifyBetween">
                                        <div class="card-body-left flex directionColumn juatifyBetween">
                                            <div class="card-body-cont">
                                                <a href="{% url 'region:hotel_detail' slug=hotel.city.slug pk=hotel.id %}"
                                                   title="{{ item }}"><p>{{ hotel }}</p></a>
                                                <p class="card-location">{{ hotel.city }}, {{ hotel.address }}</p>
                                                <p class="card-distance">Море - {{ hotel.remoteness }} м •
                                                    {% if hotel.centr %}Центр -
                                                        {{ hotel.centr }}
                                                        км</p>
                                                    {% endif %}
                                            </div>
                                            <div data-id="{{ hotel.id }}"
                                                 data-action="bookmark" data-url="{{ request.path }}"
                                                 title="Избранное" id="favorite-img">
                                                <a href="#">
                                                    {% if hotel.id|stringformat:"i" in favorites_list %}
                                                        <i class="far fa-heart" style="color: #ff0000;"></i>
                                                    {% else %}
                                                        <i class="far fa-heart" style="color: #202dd9;"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="black-sea-icon flex">
                                                {% for option in hotel.options.all|slice:":3" %}
                                                    <span>{{ option }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="card-body-right-button flex directionColumn juatifyBetween">
                                            <div class="curort-price">
                                                <div class="curort-price-cont">
                                                    <div class="curort-price1 cur1">
                                                        {% if hotel.get_min_price %}от
                                                            {{ hotel.get_min_price }}
                                                            руб.{% else %}Не задано{% endif %}
                                                    </div>
                                                    <div class="curort-price2">за 1 сутки</div>
                                                </div>
                                                <div class="curort-price3">
                                                    <img src="{% static 'img/curort-icon1.png' %}" alt="">
                                                    <span>отзывов {{ hotel.review_set.all.count }} </span>
                                                </div>

                                            </div>
                                            <a href="{% url 'region:hotel_detail' slug=hotel.city.slug pk=hotel.id %}">
                                                <button class="show-price">Показать цены</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% include 'include/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Получение переменной cookie по имени
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Настройка AJAX
        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });

        function to_bookmarks() {
            var current = $(this);
            var pk = current.data('id');
            var action = current.data('action');

            $.ajax({
                url: "/hotel/" + pk + "/" + action + "/",
                type: 'POST',
                data: {'obj': pk},


                success: function (response) {
                    alert(response['message'])
                    window.location.reload();
                }
            });

            return false;
        }

        // Подключение обработчика
        $(function () {
            $('[data-action="bookmark"]').click(to_bookmarks);
        });</script>
{% endblock %}