{% extends 'base.html' %}
{% load static thumbnail %}
{% block meta %}
    <meta name="description"
          content="Забронировать {{ object }} в {{ object.city }} по адресу {{ object.address }}. Контакты владельцев, отзывы постояльцев, фотографии номеров – на сайте Вашеморе.ру">
    <title>{{ object }} в {{ object.city }} – цены, фото, отзывы | Вашеморе.ру</title>
{% endblock %}
{% block modal-search %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="call-back flex alignCenter juatifyCenter directionColumn">
                        {% for item in object.hotelcontact_set.all %}
                            <p>{{ item }}</p>
                            <a href="tel:{{ item.phone }}" class="big-tel">{{ item.phone }}</a>
                            <a href="tel:{{ item.phone }}" class="small-tel">Звонок по номеру</a>
                            <div class="sci-item flex">
                                <img src="/static/img/teleg.png" alt="">
                                <img src="/static/img/whats.png" alt="">
                                <img src="/static/img/skype.png" alt="">
                                <img src="/static/img/viber.png" alt="">
                            </div>
                        {% endfor %}

                        <p class="modalPromo">Не хотите переплачивать?
                            Скажите, что звоните с ВолнаТур</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalObject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header directionColumn">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="objectModalLabel">Добавление отзыва</h5>
                </div>
                <div class="modal-body">
                    {% include "review/review-create.html" with form=review_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <header id="object" class="photo-scroll">
        <div class="container">
            {% include 'include/main-menu.html' %}
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="object-section">
        <div class="container">
            <ul class="breadcrumb" class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem"><a itemprop="item" href="/">Главная</a></li>
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem"><a itemprop="item"
                                                              href="{% url 'region:region_detail' slug=object.city.parent.slug %}">{{ object.city.parent }}</a>
                </li>
                <li itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem"><a itemprop="item">{{ object.city }}</a></li>
            </ul>
            <h1>{{ object }}</h1>
            <div class="addressP">
                <p>{{ object.city }}, {{ object.address }}</p>
                <p>Объект №{{ object.id }}</p>
            </div>
            <div class="object-button-cont">
                <ul class="flex direction-ul">
                    <li class="active" data-scroll="photo-scroll">
                        <span>Фото</span>
                    </li>
                    <li data-scroll="photo-rooms">
                        <span>Номера</span>
                    </li>
                    <li data-scroll="price-rooms">
            <span>
              <span>Цены</span>
            </span>
                    </li>
                    <li data-scroll="description-rooms">
                        <span>Описание</span>
                    </li>
                    <li data-scroll="rule-rooms">
                        <span>Правила</span>
                    </li>
                    <li data-scroll="map-rooms">
                        <span>На карте</span>
                    </li>
                    <li data-scroll="feedback-rooms">
                        <span>Отзывы: {{ object.hotelreview_set.all.count }}</span>
                    </li>

                </ul>
            </div>

            <div class="row">
                <div class="col-md-9 responsive-col-9">
                    <div class="object-left  mb-50 flex">
                        <div class="object-left-first">
                            {% thumbnail object.hotelphoto_set.first '404x284' crop='center' as im %}
                                <img class="lightboxed" rel="group1" src="{{ im.url }}"
                                     data-link="{{ object.hotelphoto_set.first.image.url }}"
                                     alt="{{ im }}{{ forloop.counter }}"
                                     title="{{ im }}{{ forloop.counter }}">
                            {% endthumbnail %}
                        </div>
                        <div class="object-left-second flex directionColumn juatifyBetween">
                            <div class="object-left-second-up flex">
                                {% for item in object.hotelphoto_set.all|slice:"1:3" %}
                                    <div class="object-left-second-up-{% if forloop.counter|divisibleby:2 %}two{% else %}one{% endif %}">
                                        {% thumbnail item.image '202x141' crop='center' as im %}
                                            <img class="lightboxed" rel="group1" src="{{ im.url }}"
                                                 data-link="{{ item.image.url }}"
                                                 alt="{{ im }}{{ forloop.counter }}"
                                                 title="{{ im }}{{ forloop.counter }}">
                                        {% endthumbnail %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="object-left-second-down flex">
                                <div class="object-left-second-down-one">
                                    {% for item in object.hotelphoto_set.all|slice:"3:4" %}
                                        {% thumbnail item.image '202x141' crop='center' as im %}
                                            <img class="lightboxed" rel="group1" src="{{ im.url }}"
                                                 data-link="{{ item.image.url }}"
                                                 alt="{{ im }}{{ forloop.counter }}"
                                                 title="{{ im }}{{ forloop.counter }}">
                                        {% endthumbnail %}
                                    {% endfor %}
                                </div>
                                <div class="object-left-second-down-two relative">
                                    {% for item in object.hotelphoto_set.all|slice:"4:" %}
                                        <div class="show-all-pic lightboxed" rel="group1"
                                             data-link="{{ item.image.url }}">
                                            <p>Посмотреть все фотографии</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="object-info">
                        <div class="row">
                            {% for option in object.options.all|slice:":12" %}
                                {% if forloop.first %}
                                    <div class="col-md-4 col-sm-4 col-6">
                                    <div class="object-info-p">
                                {% endif %}
                            <p><i class="{{ option.icon }}"></i><span>{{ option }}</span></p>
                            {% if forloop.counter|divisibleby:4 %}</div></div>
                                <div class="col-md-4 col-sm-4 col-6">
                                <div class="object-info-p">
                            {% endif %}
                            {% if forloop.last %}
                                </div></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Номера и цены -->
                    {% if object.numbers.all %}
                        <div class="object-prices mb-100 object-card-wrapper">
                            <h2 class="photo-rooms">Номера и цены</h2>
                            <div class="my-object-card-cont curort-card-cont">
                                {% for number in object.numbers.all %}
                                    <div class="object-card">
                                        <div class="object-images swiper">
                                            <div class="swiper-wrapper">
                                                {% for item in number.photos.all %}
                                                    <div class="swiper-slide">
                                                        {% thumbnail item.image '262x180' crop='center' as img %}
                                                            <img class="lightboxed" rel="{{ number.id }}"
                                                                 data-link="{{ item.image.url }}"
                                                                 src="{{ img.url }}" alt="number-{{ number.id }}">
                                                        {% endthumbnail %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="swiper-button-prev"><img src="{% static 'img/prev.png' %}"
                                                                                 alt="Предыдущий"></div>
                                            <div class="swiper-button-next"><img src="{% static 'img/next.png' %}"
                                                                                 alt="Следующий"></div>
                                        </div>
                                        <div class="card-body">
                                            <div class="info">
                                                <div class="title">{{ number.title }}</div>
                                                <div class="label">{{ number.room_number }} комната
                                                    {{ number.room_square|default_if_none:"" }} м2
                                                </div>
                                                <div class="distance">{{ number.sleep_place }} спальных места</div>
                                                <div class="hidden-info">
                                                    <div class="labels">
                                                        {% for option in number.options.all %}
                                                            <span>{{ option }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="text">
                                                        {{ number.furniture|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <div class="curort-price2">
                                                    {% if number.get_price_today %}{{ number.get_price_today }}
                                                        руб.{% else %}Не задано{% endif %}</div>
                                                <div class="label">за 1 сутки</div>
                                                <div class="btn-groups">
                                                    <div class="btn btn-accent">Оставить заявку</div>
                                                    <div class="btn btn-light">Показать все<i
                                                            class="fa fa-angle-down"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- Конец Номера и цены -->

                    <div class="object-table mb-100">
                        <h2 class="price-rooms">Цены на 2023 год</h2>
                        <div class="object-table-cont">
                            {% if object.numbers.all %}
                                <table>
                                    {% for number in object.numbers.all %}
                                        {% if forloop.first %}
                                            <tr>
                                                <td class="sticky">
                                                    <div class="td-title">*Стоимость за сутки проживания</div>
                                                </td>
                                                <td class="sticky">

                                                </td>
                                                {% for period in object.periods.all %}
                                                    <td>
                                                        <div class="td-text">{{ period.start|date:"d.m" }}-{{ period.end|date:"d.m" }}</div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td rowspan="2">
                                                <div class="td-title">{{ number.title }}</div>
                                            </td>
                                            <td>
                                                <div class="td-title">{{ number.get_order_choice_display }}</div>
                                            </td>
                                            {% for price in number.prices.all %}
                                                <td>
                                                    <div class="td-text">{{ price.price }}</div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="td-title">за доп</div>
                                            </td>
                                            {% for period in number.prices.all %}
                                                <td>
                                                    <div class="td-text">
                                                        {% if period.extra_bed %}{{ period.extra_bed }}{% else %}
                                                            0 {% endif %}</div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div>* {{ object.another_rules }}</div>
                            {% else %}
                                <table>


                                    <tr>
                                        <td>
                                            <div class="td-title">*Стоимость за сутки проживания</div>
                                        </td>
                                        <td>

                                        </td>
                                        {% for period in object.periods.all %}
                                            <td>
                                                <div class="td-text">{{ period.start|date:"d.m" }}-{{ period.end|date:"d.m" }}</div>
                                            </td>
                                        {% endfor %}
                                    </tr>

                                    <tr>
                                        <td rowspan="2">
                                            <div class="td-title">{{ object }}</div>
                                        </td>
                                        <td>
                                            <div class="td-title">за весь дом</div>
                                        </td>
                                        {% for period in object.prices.all %}
                                            {% for price in period.prices.all %}
                                                <td>
                                                    <div class="td-text">{{ price.price }}</div>
                                                </td>
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td-title">за доп</div>
                                        </td>
                                        {% for period in number.prices.all %}
                                            <td>
                                                <div class="td-text">
                                                    {% if period.extra_bed %}{{ period.extra_bed }}{% else %}
                                                        0 {% endif %}</div>
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                                <div>* {{ object.another_rules }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="object-description">
                        <h2 class="description-rooms">Описание</h2>
                        <div class="description-p">
                            {{ object.description|safe }}
                        </div>

                        <h2>Питание</h2>
                        <ul class="listNone">
                            {% for option in object.options.all %}
                                {% if option.get_category_display == 'Питание' %}
                                    <li>{{ option }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2>Удобства и услуги</h2>
                        <ul class="listNone">
                            {% for option in object.options.all %}
                                {% if option.get_category_display == 'Удобства и услуги' %}
                                    <li>{{ option }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2>Условия бронирования</h2>
                        <ul class="listNone">
                            {% for option in object.options.all %}
                                {% if option.get_category_display == 'Условия бронирования' %}
                                    <li>{{ option }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2>Расстояния</h2>
                        <ul class="listNone">
                            {% for item in object.distancetime_set.all %}
                                <li>{{ item.distance }} - {{ item.time }} мин. ({{ item.get_method_display }})</li>
                            {% endfor %}
                        </ul>
                        <h2 class="rule-rooms">Бронирование</h2>
                        <ul class="listNone">
                            <li>Размер предоплаты: {{ object.prepayment }}</li>
                            <li>Условия бесплатной отмены брони: {{ object.free_cancel }}</li>
                            {% if object.early_booking_discount %}
                                <li>Скидка на раннее бронирование: {{ object.early_booking_discount }}%</li>
                            {% endif %}
                            {% if object.requisites %}
                                <li>Реквизиты: {{ object.requisites }}</li>
                            {% endif %}
                            {% if object.prepayments_term %}
                                <li>Без предоплаты</li>
                            {% endif %}
                            <li>Минимальный срок проживания (день): {{ object.minimum|default_if_none:"" }} </li>
                        </ul>
                        <h2 class="rule-rooms">Правила проживания</h2>
                        <ul class="listNone">
                            <li>Заезд после: {{ object.chek_in|default_if_none:"--" }}. Выезд
                                до: {{ object.chek_out|default_if_none:"--" }}</li>
                            <li>С питомцами: {% if object.pets %}Можно{% else %}Нельзя{% endif %}</li>
                            <li>Размещение детей: {% if object.child %}Можно{% else %}Нельзя{% endif %}</li>
                            {% if object.another_rules %}
                                <li>Другие правила: {{ object.another_rules }}</li>
                            {% endif %}
                        </ul>
                        <h3 class="map-rooms">На карте</h3>
                        <p>{{ object.city }}, {{ object.address }}</p>
                        <div id="map"/>
                    </div>
                </div>

                <div class="last-feedback">
                    <div class="flex juatifyBetween alignCenter">
                        <h2 class="feedback-rooms">Последние <span>отзывы</span></h2>
                        <button class="set-feedback" data-toggle="modal" data-target="#modalObject">Оставить отзыв
                        </button>
                    </div>

                    <div class="curort-feedback">
                        <div class="owl-carousel curort-feedback-cont">
                            {% for item in object.review_set.all %}
                                <div class="item">
                                    <div class="curort-feedback-item">
                                        <p class="feedback-title">{{ item.name }}</p>
                                        <p class="feedback-periud">Период отдыха: {{ item.period }}</p>
                                        <p class="feedback-name">{{ item.city }}</p>
                                        <p class="feedback-rate">
                                            {% for i in "x"|rjust:item.rating %}
                                                <img src="{% static 'img/ratefill.png' %}" alt="">
                                            {% endfor %}
                                        </p>
                                        <p class="feedback-text ul-fixed-height2"> {{ item.body }} </p>
                                        <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  responsive-col-3">
                <div class="object-right">
                    <div class="responsive-flex">
                        <h3>Звоните и бронируйте!</h3>

                    </div>
                    <div class="responsive-flex">
                        <button class="show-contact" data-toggle="modal" data-target="#exampleModalCenter">Показать
                            контакты
                        </button>
                        <button class="whatsapp-question">Задать вопрос в WhatsApp</button>
                    </div>
                    <form action="">
                        <div class="input-cont flex juatifyBetween alignCenter">
                            <input type="text" placeholder="Заезд" class="object-input light left datepicker">
                            <div> -</div>
                            <input type="text" placeholder="Выезд" class="object-input light right datepicker">
                        </div>
                        <div class="responsive-flex">
                            <div class="dropdown object-dropdown">
                                <div class="dropbtn object-drop"><span>2 гостя</span> <img
                                        src="img/deopdown-img.png" alt=""></div>
                                <div class="dropdown-content">
                                    <a href="">2 гостей</a>
                                    <a href="">3 гостей</a>
                                    <a href="">4 гостей</a>
                                    <a href="">5 гостей</a>
                                </div>
                            </div>
                            <button class="send-request">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="black-sea other-object">
            <h2> Другие<span> объекты {{ object.city }}</span></h2>
            <div id="owl-demo-object" class="owl-carousel">
                {% if another_hotels %}
                    {% for item in another_hotels %}
                        <div class="item">
                            <div class="popularUp">
                                <div class="black-cont">
                                    <a href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">
                                        {% thumbnail item.hotelphoto_set.first '282x160' crop='center' as im %}
                                            <img class="lazyOwl" data-src="{{ im.url }}" alt="{{ im.name }}">
                                        {% endthumbnail %}
                                    </a>
                                    <p class="bold"><a
                                            href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">{{ item }}</a>
                                    </p>
                                    <p>{{ item.city }}, море: {{ item.remoteness }} м.</p>
                                    <p>
                                        <span>от 400 руб.</span>
                                        / за 1 ночь
                                    </p>
                                </div>
                                <div class="black-sea-icon flex">
                                    <div class="black-sea-check">
                                        <img src="{% static 'img/check.png' %}" alt="">
                                    </div>
                                    <div class="black-sea-link">
                                        <img src="{% static 'img/like.png' %}" alt="">
                                    </div>
                                    <div class="black-sea-taxi">
                                        <img src="{% static 'img/taxi.png' %}" alt="">
                                    </div>
                                    {% for option in object.options.all %}
                                        <span>{{ option }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
    </section>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ebfaa2bc-030a-4956-bcab-79036adf117f"
            type="text/javascript"></script>
    <script>ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map('map', {
            center: [55.753994, 37.622093],
            zoom: 9
        });

        // Поиск координат центра Нижнего Новгорода.
        ymaps.geocode('{{ object.city }} {{ object.address }}', {
            /**
             * Опции запроса
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/geocode.xml
             */
            // Сортировка результатов от центра окна карты.
            // boundedBy: myMap.getBounds(),
            // strictBounds: true,
            // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy.
            // Если нужен только один результат, экономим трафик пользователей.
            results: 1
        }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            firstGeoObject.options.set('preset', 'islands#darkBlueDotIconWithCaption');
            // Получаем строку с адресом и выводим в иконке геообъекта.
            firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                // Проверяем наличие тайлов на данном масштабе.
                checkZoomRange: true
            });

            /**
             * Все данные в виде javascript-объекта.
             */
            console.log('Все данные геообъекта: ', firstGeoObject.properties.getAll());
            /**
             * Метаданные запроса и ответа геокодера.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/GeocoderResponseMetaData.xml
             */
            console.log('Метаданные ответа геокодера: ', res.metaData);
            /**
             * Метаданные геокодера, возвращаемые для найденного объекта.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/GeocoderMetaData.xml
             */
            console.log('Метаданные геокодера: ', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData'));
            /**
             * Точность ответа (precision) возвращается только для домов.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/precision.xml
             */
            console.log('precision', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData.precision'));
            /**
             * Тип найденного объекта (kind).
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/kind.xml
             */
            console.log('Тип геообъекта: %s', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData.kind'));
            console.log('Название объекта: %s', firstGeoObject.properties.get('name'));
            console.log('Описание объекта: %s', firstGeoObject.properties.get('description'));
            console.log('Полное описание объекта: %s', firstGeoObject.properties.get('text'));
            /**
             * Прямые методы для работы с результатами геокодирования.
             * @see https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/GeocodeResult-docpage/#getAddressLine
             */
            console.log('\nГосударство: %s', firstGeoObject.getCountry());
            console.log('Населенный пункт: %s', firstGeoObject.getLocalities().join(', '));
            console.log('Адрес объекта: %s', firstGeoObject.getAddressLine());
            console.log('Наименование здания: %s', firstGeoObject.getPremise() || '-');
            console.log('Номер здания: %s', firstGeoObject.getPremiseNumber() || '-');

            /**
             * Если нужно добавить по найденным геокодером координатам метку со своими стилями и контентом балуна, создаем новую метку по координатам найденной и добавляем ее на карту вместо найденной.
             */
            /**
             var myPlacemark = new ymaps.Placemark(coords, {
             iconContent: 'моя метка',
             balloonContent: 'Содержимое балуна <strong>моей метки</strong>'
             }, {
             preset: 'islands#violetStretchyIcon'
             });

             myMap.geoObjects.add(myPlacemark);
             */
        });
    }</script>
    <script type="text/javascript">
        var frm = $('#create-review');
        frm.submit(function () {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    $("#SOME-DIV").html(data);
                },
                error: function (data) {
                    $("#MESSAGE-DIV").html("Something went wrong!");
                }
            });
            return false;
        });
    </script>
{% endblock %}



