{% extends 'base.html' %}
{% load static thumbnail %}

{% block header %}
    <header id="attraction">
        <div class="container">
            {% include 'include/main-menu.html' %}
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'region:region_detail' slug=region.parent.slug %}">{{ region.parent }}</a></li>
                <li><a href="{% url 'region:region_detail' slug=region.slug %}">{{ region.title }}</a></li>
                <li>{{ attraction_category }}</li>
            </ul>
            <div class="headerTitle">
                <h1>{{ attraction_category }} в {{ region.title }}</h1>
            </div>

        </div>
    </header>
{% endblock %}
{% block content %}
    <!--SECTION INTERESTING PLACES-->
    <section class="mt-100 interesting">
        <div class="container ">
            <div class="good-views">
                <div class="row"
                        {% for item in attraction_list %}
                            <div class="col-md-4 col-sm-6">
                                <div class="good-views-cont">
                                    <a href="{% url 'attraction:attraction_detail' region_slug=region.slug category_slug=attraction_category.slug slug=item.slug %}">
                                        <img src="{{ item.thumb.url }}" alt="{{ item }}"></a>
                                    <h4>
                                        <a href="{% url 'attraction:attraction_detail' region_slug=region.slug category_slug=attraction_category.slug slug=item.slug %}">{{ item }}</a>
                                    </h4>
                                    <p>{{ item.meta_description|slice:"100" }}</p>
                                </div>
                            </div>
                        {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!--SECTION INTERESTING PLACES-->
{% endblock %}