{% extends 'lk_base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-9">
        <div class="myObject-right mb-100 help">
            <h1>Помощь</h1>
            <p class="helpP">Редактирование цен и ценовых периодов</p>
            <div class="row">
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить ценовые периоды?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить или изменить цены?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
            </div>
            <p class="helpP">Страница объекта</p>
            <div class="row">
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить новый объект?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить контактные данные?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить описание объекта?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как добавить/изменить опции отеля?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
            </div>
            <p class="helpP">Редактирование фотографий</p>
            <div class="row">
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как мой объект найдут клиенты?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
                <div class="col-md-6 mb-10">
                    <div class="faq fixed-faq">
                        <div class="faq-title flex juatifyBetween">
                            <h4>Как мой объект найдут клиенты?</h4>
                            <div class="collaps-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>К сожалению, многие создатели сайтов действуют по правилу «кто первый — того и тапки», в
                            итоге многие объекты падают в списке сотен вариантов, и их просто не находят. Это характерно
                            для сайтов с низкой производительностью. Для того, чтобы устранить эту несправедливость,
                            «ПриветТур» использует техническое решение, которое уравнивает шансы всех владельцев на
                            просмотры туристами. Более того, в случае «отставания» по просмотрам того или иного объекта
                            включается «турборежим», позволяющий набирать необходимое количество просмотров со всех
                            каналов трафика.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}