{% extends 'lk_base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
    </ul>
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div class="myObject-right">
            <h1>Расстояния</h1>
            <div class=" mb-100">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                     <button class="submit">добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}