{% extends 'lk_base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-9">
        <div class="myObject-right mb-100 help">
            <h1>FAQ</h1>
            {% if object.content_1 %}
            <div class="mb-50">
                <div class="row">
                    <div class="col-md-12">
                        {{ object.content_1|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                {% if faq_objects %}
                {% for faq_onject in faq_objects %}
                <div class="col-md-12 mb-10">
                    <div class="faq faq-block">
                        <div class="faq-block-title flex juatifyBetween">
                            <h4>{{ faq_onject.question }}</h4>
                            <div class="collaps-button2">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <p>{{ faq_onject.answer }}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if object.content_2 %}
            <div class="row mt-50">
                <div class="col-md-12">
                    {{ object.content_2|safe }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}