{% extends 'lk_base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/accounts/lk/{{ object.id }}/info/#tab-priceTab">Вернуться в цены</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div class="myObject-right">
            <h1>Редактирование периодов цен для гостиницы</h1>
            <div class="mb-100">
                <div class="col-md-12">
                    <div class="row">
                        <script>
                            $(function (event) {
                                $('.datepicker').val(event.currentTarget.val());
                            });
                        </script>
                        <script type="text/javascript">

                        </script>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>
                            {{ formset.management_form }}
                            <div class="hidden-periuds">

                                {% for form in formset %}
                                    <div class="card-body-right hidden-periud flex alignCenter
                                            {% if form.start.value %}{% else %}d-none{% endif %}">
                                        {{ form }}
                                        {% if form.start.value %}
                                            <button data-id="{% url 'accounts:user_hotel_price_period_delete' pk=form.instance.id %}"
                                                    class="delete-card">удалить
                                            </button>{% else %}{% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="" class="addPeriud">
                                <button class="newObject">
                     <span class="plusCont">
                       <i class="fa fa-plus" aria-hidden="true"></i>
                     </span>
                                    добавить период
                                </button>
                            </a>
                            <input class="newObject mt-20" type="submit" value="Сохранить">
                        </form>
                    </div>
                </div>
                <h5 class="mt-20"><a href="/accounts/lk/{{ object.id }}/info/#tab-priceTab">Вернуться к ценам</a></h5>
            </div>
        </div>
    </div>
{% endblock %}