{% extends 'lk_base.html' %}
{% load static crispy_forms_tags thumbnail %}
{% block content %}
    <div class="col-md-9">
        <div class="myObject-right">
            <h1>{{ object }}</h1>
            <div class="add-object-card-cont mb-100">
                <form enctype='multipart/form-data' action="{% url 'accounts:number_image_upload' pk=object.id %}"
                      method="POST" class="dropzone dz" id="my-dropzone">
                    {% csrf_token %}
                    <div class="row">
                        {% for image in object.numberphoto_set.all %}

                            <div class="mr-10 mb-10">   {% thumbnail image.image "171x100" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                <div class="dz-message" data-dz-message><span>Перетащите сюда фото или просто нажмите на область</span></div>
                    <div class="fallback">
                        <input name="file" type="file" multiple/>

                    </div>
                </form>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <button class="submit">добавить</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}