{% extends 'lk_base.html' %}
{% load crispy_forms_tags %}
{% block leftmenu %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <!--Reset Password-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Сброс пароля</h2>
        <hr>
        <p>Введите свой email и мы отправим вам инструкцию по сбросу пароля.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit">Отправить письмо</button>
        </form>
    </div>
{% endblock %}

