{% extends 'lk_base.html' %}
{% load crispy_forms_tags static %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
    </ul>
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
    <div class="form-container flex ">
        <div class="loginForm">
            <h1>Регистрация</h1>
            <form method="post"> {% csrf_token %}

                <input type="email" name="email" id="id_email" placeholder="Ваш E-mail" required>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}" id="msg" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="text" name="phone" id="id_phone" placeholder="Ваш телефон" required>

                <input type="password" name="password1" id="id_password1" placeholder="Ваш пароль" required>
                <input type="password" name="password2" id="id_password2" placeholder="Подтверждение пароля" required>
                <p><a href="#">Забыли пароль?</a></p>
                <button>Зарегистрироваться</button>
                <p>Авторизуясь, вы соглашаетесь с правилами использования сервиса и обработки <a href="">персональных
                    данных.</a></p>
            </form>
            <div class="form-footer">
                <p>У вас уже есть аккаунт? <a href="{% url 'accounts:login' %}">Войдите</a></p>
            </div>
        </div>

        <div class="login-right relative">
            <img src="{% static 'img/form-back.png' %}" alt="логин">
        </div>
    </div>
{% endblock %}