{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-first">
                    <p>Пользовательское соглашение</p>
                    <p>Договор оферты</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-logo flex alignCenter juatifyCenter">
                    <a href="/"><img src="{% static 'img/footerLogo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-third">
                    <p>© Все права защищены. <br> “Сервис.Тур” 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer>