{% load hotel_tags %}
<form action="">
    {{ form }}
    <div class="form-cont flex">
        <div class="location">
            <label>
                Место отдыха?<br>
                <input type="text" placeholder="Курорт или отель" value="">
            </label>
        </div>
        <div class="enter">
            <label>
                Заезд<br>
                <input type="text" placeholder="Дата" class="datepicker">
            </label>
        </div>
        <div class="exit">
            <label>
                Выезд<br>
                <input type="text" placeholder="Дата" class="datepicker">
            </label>
        </div>
        <div class="guest-count">
            <label>
                Количество гостей<br>
                <input type="text" placeholder="Кто поедет?">
            </label>
        </div>
        <button class="submit">найти</button>
    </div>
</form>