<ul class="flex direction-ul main-ul">
  <li class="active" data-show="mainDiv">
    <span>Основное</span>
  </li>
  <li data-show="mainImage">
    <span>Фотографии</span>
  </li>
  <li data-show="roomTab" class="">
    <span>Номера</span>
  </li>
  <li data-show="priceTab">
    <span>Цены</span>
  </li>
  <li data-show="descriptionTab">
    <span>Расстояние</span>
  </li>
  <li data-show="ruleTab">
    <span>Правила</span>
  </li>
 <!-- <li data-show="stockTab">
    <span>Акции</span>
  </li> -->
</ul>