{% extends 'base.html' %}
{% load static thumbnail %}
{% block header %}
    <header class="main-header about-header">
        <div class="container">
            {% include 'include/main-menu.html' %}
            <div class="headerTitle">
                <h1>{{ object.h1 }}</h1>
            </div>
            <p class="headerText">
                {{ object.header_text }}
            </p>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="direction">
                <div class="row">
                    <div class="col-md-12 adler-right">
                        <p>{{ object.content_1|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-100">
        <div class="container">
            <div class="travel">
                <h2>Путешествие <span>с “ВашеМоре.ру”!</span></h2>
                <div id="owl-demo" class="owl-carousel">
                    {% for item in region_most_interesting_list %}
                        <div class="item">
                            <a href="{% url 'region:region_detail' slug=item.slug %}">
                                <div class="item-img">
                                    <div class="back">
                                        <ul>
                                            <li class="wallet">
                                                <p>Средняя цена</p>
                                                <p>{% if item.get_average_price %}
                                                    {{ item.get_average_price|floatformat:"0" }}{% else %}
                                                    0{% endif %} рублей</p>
                                            </li>
                                            <li class="calendar">
                                                <p>Сезон</p>
                                                <p>{{ item.season }}</p>
                                            </li>
                                            <li class="middle">
                                                <p>Средняя оценка</p>
                                                <p>4.7 на основе отзывов</p>
                                            </li>
                                        </ul>
                                    </div>
                                    {% thumbnail item.image '255x292' crop='center' as img %}
                                        <img class="lazyOwl" data-src="{{ img.url }}" width="{{ im.width }}"
                                             height="{{ im.height }}" alt="{{ item.title }}">
                                    {% endthumbnail %}
                                </div>
                            </a>
                            <p>{{ item.title }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="direction">
                <h2>Все наши <span> направления </span></h2>
                <ul class="flex direction-ul">
                    {% for item in region_most_interesting_list %}
                        <li {% if forloop.first %}class="active"{% endif %} data-show="{{ item.slug }}">
                            <span>{{ item }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="direction-tab-content">
                    {% for item in region_most_interesting_list %}
                        <div id="{{ item.slug }}" class="tabContent  {% if forloop.first %} active {% endif %}">
                            <div class="row">
                                {% for child in item.children.all %}
                                    <div class="col-md-3 col-sm-6 col-6">
                                        <div class="direction-way">
                                            <p class="direction-title"><a
                                                    href="{% url 'region:region_detail' slug=child.slug %}">{{ child }}</a>
                                            </p>
                                            {% for grandchild in child.children.all %}
                                                <p>
                                                    <a href="{% url 'region:region_detail' slug=grandchild.slug %}">{{ grandchild }}</a>
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="direction">
                <div class="row">
                    <div class="col-md-12 adler-right">
                        <p>{{ object.content_2|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}