{% extends 'base.html' %}
{% load static thumbnail %}
{% block header %}
<header class="main-header about-header">
    <div class="container">
        {% include 'include/main-menu.html' %}
        <div class="headerTitle">
            <h1>{{ object.h1 }}</h1>
        </div>
        <p class="headerText">
            {{ object.header_text }}
        </p>
    </div>
</header>
{% endblock %}
{% block content %}
{% if object.content_1 %}
<section>
    <div class="container">
        <div class="direction">
            <div class="row">
                <div class="col-md-12">
                    {{ object.content_1|safe }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section>
    <div class="container">
        <div class="direction">
            <div class="row flex">
                <div class="col-md-6 flex directionColumn mt-10 mb-10">
                    <h2 style="margin-top: 0px;">Контактные<span> данные</span></h2>
                    <div class="contact-data" style="flex: 1 1 auto;">
                        {% if object.phone_1 or object.phone_2 %}
                        <div class="block-phone-numbers">
                            <div class="contact-data__title">Телефон:</div>
                            <ul class="contact-data__list">
                                <li class="contact-data__item">{{ object.phone_1 }}</li>
                                <li class="contact-data__item">{{ object.phone_2 }}</li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if object.email_1 or object.email_2 %}
                        <div class="block-email">
                            <div class="contact-data__title">Email:</div>
                            <ul class="contact-data__list">
                                <li class="contact-data__item">{{ object.email_1 }}</li>
                                <li class="contact-data__item">{{ object.email_2 }}</li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if object.address %}
                        <div class="block-address">
                            <div class="contact-data__title">Адрес:</div>
                            <ul class="contact-data__list">
                                <li class="contact-data__item">{{ object.address }}</li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if object.requisite_1 or object.requisite_2 %}
                        <div class="block-requisites">
                            <div class="contact-data__title">Реквизиты:</div>
                            <ul class="contact-data__list">
                                <li class="contact-data__item">{{ object.requisite_1 }}</li>
                                <li class="contact-data__item">{{ object.requisite_2 }}</li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if object.content_contact %}
                        <div class="block-text">
                            {{ object.content_contact|safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 flex directionColumn mt-10 mb-10" >
                    <h2 style="margin-top: 0px;">Обратная<span> связь</span></h2>
                    <div class="room-rent" style="flex: 1 1 auto;">
                        <form action="" method="post" class="addObject flex feedback-form"> {% csrf_token %}
                            {% for f in form %}
                            <div>
                                {{ f }}
                                {{ f.errors }}
                            </div>
                            {% endfor %}
                            <button>Отправить</button>
                            <p>Нажимая кнопку “Отправить” вы соглашаетесь с <a style="color:blue"
                                    href="/page/konfiden/">политикой конфиденциальности.</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}