{% extends 'base.html' %}
{% load static thumbnail %}
{% block content %}
    <section>
        <div class="container">
            <div class="travel">
                <h2>Путешествие <span>с “ВашеМоре.ру”!</span></h2>
                <div id="owl-demo" class="owl-carousel">
                    {% for item in region_most_interesting_list %}
                        <div class="item">
                            <a href="{% url 'region:region_detail' slug=item.slug %}">
                                <div class="item-img">
                                    <div class="back">
                                        <ul>
                                            <li class="wallet">
                                                <p>Средняя цена</p>
                                                <p>{% if item.get_average_price %}
                                                    {{ item.get_average_price|floatformat:"0" }}{% else %}
                                                    0{% endif %} рублей</p>
                                            </li>
                                            <li class="calendar">
                                                <p>Сезон</p>
                                                <p>{{ item.season }}</p>
                                            </li>
                                            <li class="middle">
                                                <p>Средняя оценка</p>
                                                <p>4.7 на основе отзывов</p>
                                            </li>
                                        </ul>
                                    </div>
                                    {% thumbnail item.image '255x292' crop='center' as img %}
                                        <img class="lazyOwl" data-src="{{ img.url }}" width="{{ im.width }}"
                                             height="{{ im.height }}" alt="{{ item.title }}">
                                    {% endthumbnail %}
                                </div>
                                <p>{{ item.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="popular">
                <h2>Популярные <span>направления для отдыха</span></h2>
                <div id="owl-demo1" class="owl-carousel">
                    {% for item, item2 in region_popular_list %}
                        <div class="item">
                            <div class="popularUp">
                                <a href="{% url 'region:region_detail' slug=item.slug %}">
                                    <div class="popularUpImg">
                                        {% thumbnail item.image '350x233' crop='center' as img %}
                                            <img class="lazyOwl" data-src="{{ img.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ item.title }}">
                                        {% endthumbnail %}
                                        <div class="popular-bottom flex alignCenter juatifyBetween">
                                            <span>объектов {{ item.hotel_set.count }}</span>
                                            <span>от {% if item.get_min_price %}
                                                {{ item.get_min_price }}{% else %}
                                                0{% endif %} руб.</span>
                                        </div>
                                    </div>
                                </a>
                                <p>{{ item.title }}</p>
                            </div>
                            <div class="popularDown">
                                <a href="{% url 'region:region_detail' slug=item2.slug %}">
                                    <div class="popularUpImg">
                                        {% thumbnail item2.image '350x233' crop='center' as img %}
                                            <img class="lazyOwl" data-src="{{ img.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}" alt="{{ item2.title }}">
                                        {% endthumbnail %}
                                        <div class="popular-bottom flex alignCenter juatifyBetween">
                                            <span>объектов {{ item2.hotel_set.count }}</span>
                                            <span>от {% if item2.get_min_price %}
                                                {{ item2.get_min_price }}{% else %}
                                                0{% endif %} руб.</span>
                                        </div>
                                    </div>
                                </a>
                                <p>{{ item2.title }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="black-sea">
                <h2>Черное море <span>- лучший выбор!</span></h2>
                <ul class="flex black-sea-ul ">
                    <li class="active" data-show="tab1">
                        <span>Доступные цены</span>
                    </li>
                    <li data-show="tab2">
                        <span>У моря</span>
                    </li>
                    <li data-show="tab3">
                        <span>Отдых с детьми</span>
                    </li>
                </ul>
                <div class="direction-tab-content">
                    <div id="tab1" class="tabContent active">
                        <div class="owl-demo2 owl-carousel ">
                            {% for item in hotel_list_low_price %}
                                {% if item.get_min_price <= 1000 %}
                                    <div class="item">
                                        <div class="popularUp">
                                            <div class="black-cont">
                                                <a href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">
                                                    {% thumbnail item.hotelphoto_set.first '282x160' crop='center' as im %}
                                                        <img class="lazyOwl" data-src="{{ im.url }}"
                                                             alt="{{ im.name }}">
                                                    {% endthumbnail %}
                                                </a>
                                                <p class="bold">
                                                    <a href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">{{ item }}</a>
                                                </p>
                                                <p>{{ item.city }}</p>
                                                <p>море: {{ item.remoteness }} м.</p>
                                                <p>
                                                    <span>от {{ item.get_min_price|default_if_none:"0" }} руб.</span>
                                                    / за 1 ночь
                                                </p>
                                            </div>
                                            <div class="black-sea-icon flex">
                                                {#                                                <div class="black-sea-check">#}
                                                {#                                                    <img src="{% static 'img/check.png' %}" alt="">#}
                                                {#                                                </div>#}
                                                {#                                                <div class="black-sea-link">#}
                                                {#                                                    <img src="{% static 'img/like.png' %}" alt="">#}
                                                {#                                                </div>#}
                                                {#                                                <div class="black-sea-taxi">#}
                                                {#                                                    <img src="{% static 'img/taxi.png' %}" alt="">#}
                                                {#                                                </div>#}
                                                {% for option in item.options.all|slice:":2" %}
                                                    <span>{{ option }}</span>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="sow-more-div flex juatifyCenter">
                            <button>Смотреть {{ hotel_list_low_price.count }} предложения</button>
                        </div>
                    </div>

                    <div id="tab2" class="tabContent">
                        <div class="owl-demo2 owl-carousel">
                            {% for item in hotel_list_with_child %}
                                <div class="item">
                                    <div class="popularUp">
                                        <div class="black-cont">
                                            <a href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">
                                                {% thumbnail item.hotelphoto_set.first '282x160' crop='center' as im %}
                                                    <img class="lazyOwl" data-src="{{ im.url }}"
                                                         alt="{{ im.name }}">
                                                {% endthumbnail %}
                                            </a>
                                            <p class="bold">{{ item.title }}</p>
                                            <p>{{ item.city }}</p>
                                            <p>море: {{ item.remoteness }} м.</p>
                                            <p>
                                                <span>от {{ item.get_min_price|default_if_none:"" }} руб.</span>
                                                / за 1 ночь
                                            </p>
                                        </div>
                                        <div class="black-sea-icon flex">
                                            {#                                            <div class="black-sea-check">#}
                                            {#                                                <img src="{% static 'img/check.png' %}" alt="">#}
                                            {#                                            </div>#}
                                            {#                                            <div class="black-sea-link">#}
                                            {#                                                <img src="{% static 'img/like.png' %}" alt="">#}
                                            {#                                            </div>#}
                                            {#                                            <div class="black-sea-taxi">#}
                                            {#                                                <img src="{% static 'img/taxi.png' %}" alt="">#}
                                            {#                                            </div>#}
                                            {% for option in item.options.all|slice:":2" %}
                                                <span>{{ option }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="sow-more-div flex juatifyCenter">
                            <button>Смотреть {{ hotel_list_with_child.count }} предложения</button>
                        </div>
                    </div>
                    <div id="tab3" class="tabContent">
                        <div class="owl-demo2 owl-carousel">
                            {% for item in hotel_list_sea %}
                                <div class="item">
                                    <div class="popularUp">
                                        <div class="black-cont">
                                            <a href="{% url 'region:hotel_detail' slug=item.city.slug pk=item.pk %}">
                                                {% thumbnail item.hotelphoto_set.first '282x160' crop='center' as im %}
                                                    <img class="lazyOwl" data-src="{{ im.url }}"
                                                         alt="{{ im.name }}">
                                                {% endthumbnail %}
                                            </a>
                                            <p class="bold">{{ item }}</p>
                                            <p>{{ item.city }}</p>
                                            <p>море: {{ item.remoteness }} м.</p>
                                            <p>
                                                <span>от {{ item.get_min_price|default_if_none:"" }} руб.</span>
                                                / за 1 ночь
                                            </p>
                                        </div>
                                        <div class="black-sea-icon flex">
                                            {% for option in item.options.all|slice:":2" %}
                                                <span>{{ option }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="sow-more-div flex juatifyCenter">
                            <button>Смотреть {{ hotel_list_sea.count }} предложения</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="direction">
                <div class="row">
                    <div class="col-md-12 adler-right">
                        {{ object.content_1|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="container">
        <div class="last-feedback">
            <div class="flex juatifyBetween alignCenter">
              <h2 class="feedback-rooms">Последние <span>отзывы</span></h2>
              <button class="set-feedback" data-toggle="modal" data-target="#modalObject">Оставить отзыв</button>
            </div>
            <div class="curort-feedback">
              <div class="owl-carousel curort-feedback-cont">
                <div class="item">
                  <div class="curort-feedback-item">
                    <p class="feedback-title">Пляж пансионата «Фрегат»</p>
                    <p class="feedback-periud">Период отдыха: Июнь 2017</p>
                    <p class="feedback-name">Светлана и Алексей</p>
                    <p class="feedback-rate">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/rateempty.png" alt="">
                    </p>
                    <p class="feedback-text ul-fixed-height2"> Отдыхали с семьей в Ирэне в июне 2017 года. Бронировали номер заранее, в первую очередь привлекли фотографии красивых номеров, фотографии красивых номеров, </p>
                    <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <div class="item">
                  <div class="curort-feedback-item">
                    <p class="feedback-title">Пляж пансионата «Фрегат»</p>
                    <p class="feedback-periud">Период отдыха: Июнь 2017</p>
                    <p class="feedback-name">Светлана и Алексей</p>
                    <p class="feedback-rate">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/rateempty.png" alt="">
                    </p>
                    <p class="feedback-text ul-fixed-height2"> Отдыхали с семьей в Ирэне в июне 2017 года. Бронировали номер заранее, в первую очередь привлекли фотографии красивых номеров, </p>
                    <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <div class="item">
                  <div class="curort-feedback-item">
                    <p class="feedback-title">Пляж пансионата «Фрегат»</p>
                    <p class="feedback-periud">Период отдыха: Июнь 2017</p>
                    <p class="feedback-name">Светлана и Алексей</p>
                    <p class="feedback-rate">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/rateempty.png" alt="">
                    </p>
                    <p class="feedback-text ul-fixed-height2"> Отдыхали с семьей в Ирэне в июне 2017 года. Бронировали номер заранее, в первую очередь привлекли фотографии красивых номеров, </p>
                    <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <div class="item">
                  <div class="curort-feedback-item">
                    <p class="feedback-title">Пляж пансионата «Фрегат»</p>
                    <p class="feedback-periud">Период отдыха: Июнь 2017</p>
                    <p class="feedback-name">Светлана и Алексей</p>
                    <p class="feedback-rate">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/rateempty.png" alt="">
                    </p>
                    <p class="feedback-text ul-fixed-height2"> Отдыхали с семьей в Ирэне в июне 2017 года. Бронировали номер заранее, в первую очередь привлекли фотографии красивых номеров, </p>
                    <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <div class="item">
                  <div class="curort-feedback-item">
                    <p class="feedback-title">Пляж пансионата «Фрегат»</p>
                    <p class="feedback-periud">Период отдыха: Июнь 2017</p>
                    <p class="feedback-name">Светлана и Алексей</p>
                    <p class="feedback-rate">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/ratefill.png" alt="">
                      <img src="img/rateempty.png" alt="">
                    </p>
                    <p class="feedback-text ul-fixed-height2"> Отдыхали с семьей в Ирэне в июне 2017 года. Бронировали номер заранее, в первую очередь привлекли фотографии красивых номеров,фотографии красивых номеров, </p>
                    <p class="showmore2">Показать полностью <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
    </section>
    <section>
        <div class="container">
            <div class="direction">
                <h2>Все наши <span> направления </span></h2>
                <ul class="flex direction-ul">
                    {% for item in region_most_interesting_list %}
                        <li {% if forloop.first %}class="active"{% endif %} data-show="{{ item.slug }}">
                            <span>{{ item }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="direction-tab-content">
                    {% for item in region_most_interesting_list %}
                        <div id="{{ item.slug }}" class="tabContent  {% if forloop.first %} active {% endif %}">
                            <div class="row">
                                {% for child in item.children.all %}
                                    <div class="col-md-3 col-sm-6 col-6">
                                        <div class="direction-way">
                                            <p class="direction-title"><a
                                                    href="{% url 'region:region_detail' slug=child.slug %}">{{ child }}</a>
                                            </p>
                                            {% for grandchild in child.children.all %}
                                                <p>
                                                    <a href="{% url 'region:region_detail' slug=grandchild.slug %}">{{ grandchild }}</a>
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="direction">
                <div class="row">
                    <div class="col-md-12 adler-right">
                        {{ object.content_2|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}