h2.not-margin {
    margin-top: 0px;
}

.dz {
    margin-bottom: 10px;
    border: 1px dashed #d0e0f6 !important;
    background-color: #e3ecf9 !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: #d0e0f6 !important;
}

.dz-message {
    color: #9b9b9b;
}

.form-control {
    height: 50px;
}

.hotel-left {
    background: #EDF4FF;
    border-radius: 10px;
    padding: 20px;
}

#map {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 90px;
}

#object.fixed-menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    height: 89px;
    background: rgb(227, 236, 250);
    animation-name: menuSlideDown;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.object-section.fixed-menu {
    padding-top: 89px;
}

.object-right.fixed {
    position: fixed;
    width: 255px;
    top: 114px;
}

.object-right.fixed.absolute {
    position: absolute;
    bottom: 0;
    top: inherit;
}

.object-table-cont td.sticky {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    left: 0px;
    position: sticky;
    overflow: hidden;
}

.object-table-cont td.sticky2 {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    left: 200px;
    position: sticky;
    overflow: hidden;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .05);
}

.object-table-cont td.sticky.even {
    background-color: #edf4ff;
}

.object-table-cont td.sticky.odd {
    background-color: #fff;
}

.object-table-cont td.sticky2.even {
    background-color: #edf4ff;
}

.object-table-cont td.sticky2.odd {
    background-color: #fff;
}

@media (max-width: 1200px) {
    .object-right.fixed {
        width: 290px;
    }
}

@media (max-width: 992px) {
    .object-right.fixed {
        width: 210px;
    }
}

@keyframes menuSlideDown {
    0% {
        top: -90px
    }
    100% {
        top: 0;
    }
}

.mdi {
    margin-right: 8px;
}

.btn-delete {
    margin: 5px auto;
    font-size: 16px;
    color: #4581DA;
}

.mdi-delete-empty {
    display: none;
}

.btn-delete:hover {
    background-color: #4581DA;
}

.mdi-delete-empty {
    display: block;
}

.mdi-delete {
    display: none;
}


.btn-delete:focus {
    box-shadow: 0 0 0 4px red;
}

.social img{
    width: 40px;
}

.curort-card-cont .owl-item {
 width: 262px !important;
}

.curort-card-cont .owl-item img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.owl-item{
    width: 262px !important;
}


.my-object-card-cont{
	width: 100% ;
}

.object-card {
	height: 180px;
	box-sizing: content-box;
	display: flex;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #4581DA;
}
.object-card.full-height {
	height: auto;
}
.object-images {
	margin: 0 !important;
	width: 35%;
	height: 180px;
}
.object-card .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.object-card .swiper-button-prev::after {
	display: none;
}
.object-card .swiper-button-prev, .object-card .swiper-button-next {
	width: 40px;
	height: 40px;
	background-color: rgb(242, 199, 0);
	border-radius: 50%;
	opacity: 0;
	transition: opacity .1s ease-out;
}
.object-card .object-images:hover .swiper-button-prev {
	opacity: 1;
}
.object-card .object-images:hover .swiper-button-next {
	opacity: 1;
}
.object-card .swiper-button-next:after {
	display: none;
}
.object-card .card-body {
	width: 65%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	color: rgb(33, 41, 62);
	font-size: 16px;
	background-color: #edf4ff;
	border-radius: 0 15px 15px 0;
}
.object-card .info {
	width: 50%;
}
.object-card .card-body .title {
	font-weight: 700;
	margin-bottom: 5px;
}
.object-card .card-body .label {
		font-size: 14px;
		margin-bottom: 5px;
}
.object-card .card-body .hidden-info {
	display: none;
	margin-top: 10px;
}

.object-card .card-body .hidden-info .labels {
	display: flex;
	flex-wrap: wrap;
}
.object-card .card-body .hidden-info .labels span {
	font-size: 14px;
	color: #21293E;
	background-color: rgba(69, 129, 218, 0.15);
	border-radius: 4px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 10px;
}
.object-card .card-body .action {
	width: 50%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
}
.object-card .card-body .price {
	font-size: 18px;
	font-weight: 800;
	color: #4581DA;
	margin-bottom: 5px;
}
.object-card .card-body .btn {
	width: 140px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito';
	font-size: 14px;
	border-radius: 6px;
	cursor: pointer;
}
.object-card .card-body .btn-accent {
	color: #fff;
	background-color: #4581DA;
	margin-bottom: 10px;
}
.object-card .card-body .btn-light {
	border: 1px solid #4581DA;
	color: #4581DA;
}

.object-card .card-body .btn-light i {
	margin-left: 10px;
}
@media (max-width: 1200px) {
	.object-card-wrapper {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
	}
	.object-card {
		flex-direction: column;
		height: auto;
		width: 48%;
	}
	.object-images {
		width: 100%;
	}
	.object-card .card-body {
		width: 100%;
		flex-direction: column;
		border-radius: 0 0 10px 10px;
	}

	.object-card .info {
		width: 100%;
	}
	.object-card .card-body .action {
		width: 100%;
		align-items: flex-start;
		margin-top: 15px;
	}
	.object-card .card-body .action .btn-groups {
		margin-top: 10px;
	}
}
@media (max-width: 1200px) {
	.object-card {
		width: 100%;
	}
}