<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/logout">Выйти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{user.email}}</a>
        {{ messages.errors }}
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Войти</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!--Navbar-->
{% block content %}
{% endblock %}
</body>
</html>